.contentContainer {
  line-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.introduction {
  p {
    font-size: 32px;
    font-weight: bold;
    
    & + p {
      font-size: 20px;
      color: var(--white-900);
      font-weight: normal;
      padding-bottom: 20px;
    }
  }

  div {
    display: flex;
    gap: 15px;
  }
}

.title {
  color: var(--purple-100);
  margin-bottom: 20px;
}

.picture {
  border-radius: 50%;
  width: 25%;
  height: 25%;
  
}