.title {
  color: var(--purple-100);
  margin: 20px 0px;
}

.description {

  font-size: 18px;
  color: var(--white-900);
  font-weight: normal;
  line-height: 25px;
}

.logos {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;

  @media (max-width: 702px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; 

  }

  @media (min-width: 703px) and (max-height: 900px) {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px; 

  }

  @media (min-width: 901px) {
    display: flex;
    gap: 10px; 

  }
}




