
.contentContainer {
  max-width: 1120px;
  margin: 0 auto;

  @media (max-width: 1080px) {
    width: min-content;
  }

}

.backToStop {
  width: 120px;
  height: 35px;
  border-radius: 8px 0px;
  background-color: rgba(123, 74, 226, 0.10);
  p {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 9px;
    color: var(--white-900);
    font-size: 14px;
    cursor: pointer;
  }
}