.headerContainer {
  height: 88px;
  margin-bottom: 20px ;
  padding: 1rem 2rem;
  display: flex;
  background: rgba(123, 74, 226, 0.05);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.headerContent {
  display: flex;
  gap: 1rem;


  a {
    border: none;
    background: transparent;
    color: var(--white-900);
    transition: filter 0.2s;
    font-size: 18px;

    &:hover {
      color: rgba(123, 74, 226, 0.5);
    }

  }
}



