.container {
  div {
    display: flex;
    justify-content: center;
    div {
      width: 124px;
      height: 36px;
      background-color: rgba(123, 74, 226, 0.10);
      color: var(--purple-100);
      border-radius: 8px;
      margin: 30px 0px;
    }
  }
  p {
    color: var(--purple-100);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .description {
    font-size: 18px;
    color: var(--white-900);
    font-weight: normal;
    line-height: 25px;
  }
}